/*  Stylesheet for nodal environment
    Author: Albert Nisbet */

/* DEFAULT COLOURS (OVERRIDDEN BY THEME) */
$bg_canvas: #272e53;
$fg_canvas: #efefef;

$col_task_complete: #058b00;
$col_task_todo: #c17700;
$col_task_issue: #be0016;

$dim: 0.7;
$conceal: 0.3;

/* SPACING/SIZING */

$space_desktop: 24px;
$space_mobile: 16px;

/* TEXT */
$font-family-body: "Didact Gothic", Roboto, "San Francisco", Arial, sans-serif;

/* MIXINS */
@mixin reset-input() {
    margin:0;
    border:0;
    padding: 0 .2rem;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
    font-family: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

/* COMPONENTS */
@import
    "reset.scss",
    "app.scss",
    "tasklist.scss",
    "task.scss"
;
