$tasklist-topbar-height: 24px;

.tasklist {
    background: #f5f5f5;
    margin: 1rem;
    width: 500px;
    max-width: 100%;
    position: relative;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.15);
}

.tasklist-topbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #3c86dd;
    transition: height .1s ease-out;

    .tasklist:hover & {
        height: $tasklist-topbar-height;
    }
}

.tasklist-title {
    @include reset-input();
    width: 100%;
    font-size: 1.4rem;
    margin-top: $tasklist-topbar-height;
    padding: .3rem .8rem;
    font-family: $font-family-secondary;
}

.tasklist-list {
    padding: .4rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
